@charset 'utf-8';

@import '../node_modules/bulma/bulma.sass';

* {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (наподобие Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari и Opera */
  -webkit-touch-callout: none; /* Отключить вызовы в Android и iOS */
}
